
:root{
    --main-color-1:#ff5100;
    --main-color-2:#f39200;
    --main-color-3:#fed9b7;
    --main-color-4:#e4e4e465;

    --white-color:#fff2e6;

    --text-dark:#161616;
    --nav-header-width:35px;

    --text-description:#ffffff;

    --bg-white-transparent:#ffffff2c;
}

*{
    margin: 0 ;
    padding: 0;
}

div.loading-container{
    width: 200px;
    height: 200px;
    margin-inline: auto;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

div.loading-circle{
    width: 15px;
    height: 15px;
    background-color: var(--main-color-4);
    border-radius: 50%;
}
h2{
        color: var(--white-color);
        text-transform: uppercase !important;
        
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    background:linear-gradient( -45deg, var(--main-color-1) ,var(--main-color-2));
 
    min-height: 100vh;

    margin-left: var(--nav-header-width);
}

/* start of the nav */
nav{
    background: #c2c2c270;
    backdrop-filter: blur(5px);
 
    z-index: 50;
}
nav i {
    color: #000000;
}
nav div.nav-header{
    width: var(--nav-header-width);
    background-color: #fcfcfc88;
}


nav li a{
   
    color: var(--text-dark);
    font-size: 14px;
}

nav div.footer p{
    font-size: 12px;
    width: 80%;
    text-align: center;
}

/* end of the nav */

/* start of the header */


h1{
    font-size: 70px;

}
header{
    color: var(--white-color);
   
}

header div.welcome div.description{
    max-width: 600px;
}

header div.welcome div.description p{
    font-size: 14px;
    color: var(--text-description);
}

/* recipes */
 div.recipe  div.layer{
    background: #000000d0;
    font-size: 18px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.4s;
    color: var(--white-color);
}

div.recipe div.image{
    background: var(--bg-white-transparent);
    border:1px solid var(--bg-white-transparent);
}

div.recipe:hover  div.layer{
    transform: scaleY(1);
    
}
div.my-card{
    min-height: 200px !important;
}
/* end of header ---------------------------------------------------- */

/* start of recipe detais  ++++++++++++++++++++++++++++++++++++++++++++ */


section.recipe-detials{
    overflow: hidden;
}
section.recipe-detials div.image img{
    border: 1px solid var(--bg-white-transparent);
}
section.recipe-detials{
   
    color: var(--white-color);
    backdrop-filter: blur(5px);
}


section.recipe-detials h2{
    text-transform: uppercase;
}

section.recipe-detials p.instructions-p{
    font-size: 13px;
    color: var(--white-color);
}
section.recipe-detials div.ingredients li {
    padding: 2px 10px;
    border-radius: 5px;
    background-color: var(--main-color-4);
    color: var(--white-color);
    font-size: 14px;  
}

section.recipe-detials div.more-info *:not(h2){
    background: var(--bg-white-transparent);
    margin: 0px;
    padding: 2px 8px;
    border-radius: 5px;
    color: var(--text-dark);
    
    
}

/* search section */

section.search h2{
    color: var(--white-color);
    text-transform: capitalize;
}

/* start of the categories */
section.categories h2{
    color: var(--white-color);
        text-transform: uppercase !important;
        text-align: center;
}

section.category h2{
    color: var(--white-color);
        text-transform: uppercase !important;
        text-align: center;
}

/* start of the ingredients */
section.ingredients h2{
    color: var(--white-color);
    text-transform: uppercase !important;
    text-align: center;
}

section.ingredients div.ingredient{
    border: 1px solid var(--white-color);
    background: var(--bg-white-transparent);
    width: 130px;

}

section.ingredients div.layer {
    text-align: center;

}

section h2 {
    color: var(--white-color);
    text-transform: uppercase !important;
    text-align: center;
}

/* start of the areas */
section.areas h2{

    color: var(--white-color);
    text-transform: uppercase !important;
    text-align: center;

}
section.areas div.area{
    background: var(--bg-white-transparent);
    color: var(--white-color);
    transition: transform 0.2s;
}
section.areas div.area:hover{
    transform: scale(1.1);
  
}



/* start of contact section */

section.contact div.input-container{
    width: 100%;
    max-width: 500px;
    transition: margin 0.2s;
  
}
section.contact div.input-container input{
    background: var(--bg-white-transparent);
    color: var(--white-color);
    font-size: 15px;
    border: none;
    
}

section.contact div.input-container input::placeholder{
    text-transform: capitalize   ;
    font-size: 15px;
    color: var(--white-color);
}

section.contact div.input-container:has(input.is-invalid)::before{
    content: attr(msg);
    position: absolute;
    top: 100%;
    left: 10px;
    z-index: 45;
    color: rgba(201, 0, 0, 0.856);
    font-size: 14px;
    
}

section.contact div.input-container:has(input[type="password"]:not([placeholder="repassword"]).is-invalid){

    margin-bottom: 50px;
}

section.contact  button{
    padding: 3px 8px;
    border: none;
    background: var(--main-color-3);
    border-radius: 5px;
    opacity: 0.6;
    transition: opacity 0.3s;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: red;
    cursor:not-allowed;
}

section.contact button.active{
    opacity: 1;
    color: green;
    cursor: pointer;

}


/* media query */

@media screen and (min-width:350px) {
    section.contact div.input-container:has(input[type="password"]:not([placeholder="repassword"]).is-invalid) {
            margin-bottom: 20px;
    }
    
}